/*hiệu ứng trượt mượt cho website*/
html {
    scroll-behavior: smooth;
}

/*jss1*/
.jss1 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.jss1 p {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
.jss1 .blogpost-content h1 {

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}
.jss1 h1 {
  font-size: 3.5rem;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 300;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}
.jss1 .blogpost-content h2 {

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}
.jss1 h2 {
  font-size: 2.375rem;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}
.jss1 .blogpost-content h3 {

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
}
.jss1 h3 {
  font-size: 2rem;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
}
.jss1 .blogpost-content h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}
.jss1 h4 {
  font-size: 1.5625rem;
  font-family: "SVN-Gilroy Bold", "Montserrat", "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}
.jss1 .blogpost-content h5 {

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}
.jss1 h5 {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}
.jss1 .blogpost-content h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.jss1 h6 {
  font-size: 1.125rem;
  font-family:"Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.jss1 hr {
  color: #2EADED;
  width: 50%;
  border: 1px solid #2EADED;
}
@media (min-width:576px) {
  .jss1 h6 {
    font-size: 1.25rem;
  }
}
@media (min-width:768px) {
  .jss1 h6 {
    font-size: 1.25rem;
  }
}
@media (min-width:992px) {
  .jss1 h6 {
    font-size: 1.25rem;
  }
}
@media (min-width:576px) {
  .jss1 .blogpost-content h6 {
    font-size: 1.25rem;
  }
}
@media (min-width:768px) {
  .jss1 .blogpost-content h6 {
    font-size: 1.25rem;
  }
}
@media (min-width:992px) {
  .jss1 .blogpost-content h6 {
    font-size: 1.25rem;
  }
}
@media (min-width:576px) {
  .jss1 h5 {
    font-size: 1.3118rem;
  }
}
@media (min-width:768px) {
  .jss1 h5 {
    font-size: 1.4993rem;
  }
}
@media (min-width:992px) {
  .jss1 h5 {
    font-size: 1.4993rem;
  }
}
@media (min-width:576px) {
  .jss1 .blogpost-content h5 {
    font-size: 1.3118rem;
  }
}
@media (min-width:768px) {
  .jss1 .blogpost-content h5 {
    font-size: 1.4993rem;
  }
}
@media (min-width:992px) {
  .jss1 .blogpost-content h5 {
    font-size: 1.4993rem;
  }
}
@media (min-width:576px) {
  .jss1 h4 {
    font-size: 1.8219rem;
  }
}
@media (min-width:768px) {
  .jss1 h4 {
    font-size: 2.0243rem;
  }
}
@media (min-width:992px) {
  .jss1 h4 {
    font-size: 2.0243rem;
  }
}
@media (min-width:576px) {
  .jss1 .blogpost-content h4 {
    font-size: 1.8219rem;
  }
}
@media (min-width:768px) {
  .jss1 .blogpost-content h4 {
    font-size: 2.0243rem;
  }
}
@media (min-width:992px) {
  .jss1 .blogpost-content h4 {
    font-size: 2.0243rem;
  }
}
@media (min-width:576px) {
  .jss1 h3 {
    font-size: 2.5707rem;
  }
}
@media (min-width:768px) {
  .jss1 h3 {
    font-size: 2.7849rem;
  }
}
@media (min-width:992px) {
  .jss1 h3 {
    font-size: 2.9991rem;
  }
}
@media (min-width:576px) {
  .jss1 .blogpost-content h3 {
    font-size: 2.5707rem;
  }
}
@media (min-width:768px) {
  .jss1 .blogpost-content h3 {
    font-size: 2.7849rem;
  }
}
@media (min-width:992px) {
  .jss1 .blogpost-content h3 {
    font-size: 2.9991rem;
  }
}
@media (min-width:576px) {
  .jss1 h2 {
    font-size: 3.125rem;
  }
}
@media (min-width:768px) {
  .jss1 h2 {
    font-size: 3.5417rem;
  }
}
@media (min-width:992px) {
  .jss1 h2 {
    font-size: 3.75rem;
  }
}
@media (min-width:576px) {
  .jss1 .blogpost-content h2 {
    font-size: 3.125rem;
  }
}
@media (min-width:768px) {
  .jss1 .blogpost-content h2 {
    font-size: 3.5417rem;
  }
}
@media (min-width:992px) {
  .jss1 .blogpost-content h2 {
    font-size: 3.75rem;
  }
}
@media (min-width:576px) {
  .jss1 h1 {
    font-size: 4.9272rem;
  }
}
@media (min-width:768px) {
  .jss1 h1 {
    font-size: 5.3556rem;
  }
}
@media (min-width:992px) {
  .jss1 h1 {
    font-size: 5.9983rem;
  }
}
@media (min-width:576px) {
  .jss1 .blogpost-content h1 {
    font-size: 4.9272rem;
  }
}
@media (min-width:768px) {
  .jss1 .blogpost-content h1 {
    font-size: 5.3556rem;
  }
}
@media (min-width:992px) {
  .jss1 .blogpost-content h1 {
    font-size: 5.9983rem;
  }
}

/* jss2 */
.jss2 {
  margin: 0px 80px;
}
@media (max-width:991.95px) {
  .jss2 {
    margin: 0;
  }
}
.jss3 {
  margin: auto;
  max-width: 1700px;
}

.jss4 {
  background: #fff;
}
.jss5 {
  margin-bottom: 10px;
}

/* navigation */
.jss7{
    padding: 10px;
    font-size: 1em;
    margin-right: 30px;
}
.jss8{
    color: #4f4f4f;
    font-weight: bolder;
}
.jss9{
    color: #2eaded;
    border-bottom: 2px solid #2eaded;
}

/* image header */
.jss13{
    width: 100%;
    height: 240px;
    margin: auto;
    margin-bottom: 80px;
}
.jss14{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

/*map*/
.jss15 {
	display: flex;
}
.jss16 {
	font-weight: bolder;
}
.jss17 {
	color: #bdbdbd;
	margin: 0px 16px;
	display: flex;
	font-size: 1em;
}
@media (max-width:575.95px) {
	.jss17 {
		display: none;
	}
}
.jss18 {
	width: 2px;
	height: 20px;
	margin: 0px 16px;
	background-color: #bdbdbd;
}
@media (min-width:576px) {
	.jss18 {
		display: none;
	}
}
.jss19 {
	display: flex;
	padding: 0px;
	align-items: center;
}

/* form [sort sreach tag] */
.jss20{
	margin: 30px 0px;
}
.jss21 {
  background-color: #7ACDF6;
}
.jss22 {
  background-color: #FFD585;
}
.jss23 {
  background-color: #FF9D85;
}
.jss24 {
	/* trên thẻ <head> */
}
.jss24:hover {
  cursor: pointer;
}

/*thanh chyển số trang*/
.jss26 {
	margin: 10px;
	text-align: center;
}
.jss27 {
	margin: 10px;
}
.jss35 {
	margin: auto;
	display: flex;
	max-width: 600px;
	min-width: 200px;
	text-align: center;
	margin-bottom: 20px;
	justify-content: center;
}
.jss35 > * {
	display: flex;
}
.jss36 {
	width: 100px;
	margin-left: 20px;
}
@media (max-width:575.95px) {
	.jss36 {
		display: none;
	}
}
/* Bài viết */
.jss37 {
  border: none;
  position: relative;
  transition: 300ms;
  margin-bottom: 40px;
}
.jss37:hover {
  cursor: pointer;
  text-decoration: none;
}
.jss37:hover {
	transform: translateX(-3px);
	background: #F79483;
	box-shadow: 3px 3px #2EADED;
	transition: 300ms;
}
.jss38 {
  top: 0;
  left: 0;
  color: white;
  width: 80px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  background: #2eaded;
  font-weight: lighter;
}
.jss38 > div {
  font-size: 0.7em;
  text-align: center;
  line-height: 1;
}
.jss39 {
  font-size: 0.6rem;
}
.jss40 {
  font-size: 1.5em !important;
}
.jss41 {
  left: 80px;
  background-color: rgb(239, 70, 38);
}
.jss42 {
  width: 100%;
  height: 100%;
  position: relative;
  max-height: 500px;
  margin-bottom: 10px;
}
@media (min-width:0px) and (max-width:767.95px){
	.jss43{
		width: 100%;
		height: 100%;
	}
}
@media (min-width:768px) and (max-width:991.95px){
	.jss43{
		width: 450px;
		height: 250px;
	}
}
@media (min-width:992px) and (max-width:1199.95px){
	.jss43{
		width: 610px;
		height: 338.8px;
	}
}
@media (min-width:1200px){
	.jss43{
		width: 729px;
		height: 404.4px;
	}
}
.jss44 {
  border-radius: 2px;
  background-color: #FFD585;
  padding: 12px;
}
.jss45{
	margin: 8px 0px;
}
.jss56 {
	display: flex;
	font-size: 0.75em;
	align-items: center;
	margin-bottom: 10px;
	justify-content: flex-start;
}
.jss56 > span {
  display: flex;
}
.jss57 {
  height: 17px;
  margin-right: 10px;
}
.jss58 {
	font-size:13px;
  color: #bdbdbd;
  margin-right: 100px;
}
.jss59 {
  color: #828282;
  font-size: 0.85em;
  margin-top:8px;
}
/* Sản phẩm nổi bật */
.jss46 {
	font-size: 1.5em;
	text-align:center;
}
@media (max-width:991.95px) {
	.jss47 {
		margin: auto;
		max-width: 300px;
	}
}
.jss48 {
	width: 100%;
	transition: 300ms;
	border-radius: 8px;
	margin-bottom: 24px;
}
.jss48:hover {
	cursor: pointer;
	transform: translateX(-3px);
	box-shadow: 3px 3px #2EADED;
	transition: 300ms;
}
.jss49 {
	width: 100%;
	background: white;
}
.jss50 {
	height: 100px;
	margin: 8px 0px;
}
.jss51 {
	padding: 8px;
	margin: 8px 0px 0px;
	font-weight: 400;
	background-color: #2EADED;
}
.jss52{
	margin-top:8px;
}
.jss53 {
	color: initial;
	text-decoration: none;
}
.jss53:hover {
	text-decoration: none;
}
@media (min-width:0px) and (max-width:767.95px){
	.jss76{
		width: 258px;
		height: 361.2px;
	}
}
@media (min-width:768px) and (max-width:991.95px){
	.jss76{
		width: 108px;
		height: 151.2px;
	}
}
@media (min-width:992px) and (max-width:1199.95px){
	.jss76{
		width: 168px;
		height: 235.2px;
	}
}
@media (min-width:1200px){
	.jss76{
		width: 213px;
		height: 298.2px;
	}
}

/*nút lên đầu trang*/
.jss77 {
  right: 24px;
  bottom: 24px;
  z-index: 1000;
}

/*footer*/


.footer-header {
    padding: 40px 10px;
}

.footer-content {
    padding: 30px 60px;
    font-size: 20px;
    text-decoration: none;
}

.icon {
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
    color: #0A265A;
}

.footer-content h5 {
    font-size: 18px;
    text-align: center;
}
@media screen and (max-width:768px){
	.footer-content {
        padding: 0 !important;
        font-size: 18px;
        text-align: center;
    }
}
form #submit {
    border-left: none;
    border: 1px groove #fff;
    position: absolute;
    z-index: 1;
    color: #FD4699;
    background-color: #fff;
    height: 36px;
    width: 36px;
    background-image: url(pic/heart-56-76703.png);
}

#myBtn {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, .5);
    font-size: 35px;
    color: whitesmoke;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
#myBtn {
    visibility: visible;
    opacity: 1;
    transition: 0.7s;
}
@media screen and (max-width:768px) {
    #myBtn {
        width: 40px;
        height: 40px;
    }
}

