@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/style.css" rel="stylesheet" />
<div>
    <div class="col-md-12 col-12">
        <div class="jss2">
            <div>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://www.thebodyshop.com.vn/media/wysiwyg/home-banners/VN_200911_spa_hero-desktop_2.jpg"
                                 class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <button type="button" class="btn btn-outline-dark btn-lg">
                                    Tìm Hiểu
                                </button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://www.thebodyshop.com.vn/media/wysiwyg/home-banners/VN_200911_spa_hero-desktop_5.jpg"
                                 class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <button type="button" class="btn btn-outline-dark btn-lg">
                                    Tìm Hiểu
                                </button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://www.thebodyshop.com.vn/media/wysiwyg/home-banners/VN_200911_spa_hero-desktop_1.jpg"
                                 class="d-block w-100" alt="...">
                            <div class="carousel-caption">
                                <button type="button" class="btn btn-outline-dark btn-lg">
                                    Tìm Hiểu
                                </button>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                       data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                       data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div>
                <div class="jss28">
                    <div class="jss29 col-lg-4 col-12">
                        <a href="">
                            <img src="https://d1obul4e19ua6k.cloudfront.net/eyJrZXkiOiJiZjE5YWY2MjVjZjk0ZDRmYWE1YTcxMDA1ZGNkZDJjNC5qcGciLCJidWNrZXQiOiJjYWxsbWVkdXktcHJvZHVjdGlvbi1zMyJ9"
                                 class="anh">
                            <div class="noi-dung-banner">
                                <h4 class="jss108">CỘNG ĐỒNG TIÊU...</h4>
                                <h5>Kết nối hơn 220.000...</h5>
                            </div>
                        </a>
                        
                    </div>
                    
                    <div class="jss29 col-lg-4 col-12">
                        <a href="">
                            <img src="https://d1obul4e19ua6k.cloudfront.net/eyJrZXkiOiJjZjdlZDJmMGZkNzM0MGM3YTU2NmMxMjFjMDNmNmRjNS5qcGciLCJidWNrZXQiOiJjYWxsbWVkdXktcHJvZHVjdGlvbi1zMyJ9"
                                 class="anh">
                            <div class="noi-dung-banner">
                                <h4 class="jss108">BE IN BEAUTY</h4>
                                <h5 class="jss109">Kết nối với chúng tôi...</h5>
                            </div>
                        </a>
                        
                    </div>
                    
                    <div class="jss29 col-lg-4 col-12">
                        <a href="">
                            <img src="https://d1obul4e19ua6k.cloudfront.net/eyJrZXkiOiI2ZGJiZjk1Y2I2Yjg0YmZkYTViZGQzMThiOWI0MWMxNy5qcGciLCJidWNrZXQiOiJjYWxsbWVkdXktcHJvZHVjdGlvbi1zMyJ9"
                                 class="anh">
                            <div class="noi-dung-banner">
                            <h4 class="jss108">SKINCARE TIP...</h4>
                            <h5 class="jss109">Tìm hiểu...</h5>
                        </div>
                        </a>
                        
                    </div>
                    
                </div>
                <hr>
                <div class="jss37">
                    <div class="jss36" style="width:100%;">
                        <h3>SẢN PHẨM NỔI BẬT NHẤT</h3>
                        <h6>Những sản phẩm được bình chọn nhiều nhất </h6>
                    </div>
                </div>
                <div class=row>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide slide">
                                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                    <a class="jss63"
                                       href="/san-pham/176">
                                        <div class="jss58 card">
                                            <div class="jss59 card-header">
                                                <div>
                                                    <div class="jss24 jss102">
                                                        <div class="jss23">
                                                            <img alt="Hyaluronic Acid 2% + B5"
                                                                 class="jss26 jss103"
                                                                 src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/1_1_fc7ea536d62f4a068d63f6b377c78308_834cab7874.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="jss60 card-title h5">
                                                    Hyaluronic Acid 2% +
                                                    B5<br><span class="jss61 badge badge-pill">
                                                        SERUM DƯỠNG
                                                        ẨM
                                                    </span>
                                                </div>
                                                <p class="card-text">250.000<sup>đ</sup></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                    <a class="jss63"
                                       href="/san-pham/174">
                                        <div class="jss58 card">
                                            <div class="jss59 card-header">
                                                <div>
                                                    <div class="jss24 jss104">
                                                        <div class="jss23">
                                                            <img alt="UV Elements Broad-Spectrum SPF 44"
                                                                 class="jss26 jss105"
                                                                 src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/61_MJT_Br_Sa_AL_SL_1296_00b847146e.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="jss60 card-title h5">
                                                    UV Elements Broad-Spectrum
                                                    ...<br><span class="jss61 badge badge-pill">
                                                        KEM CHỐNG NẮNG
                                                    </span>
                                                </div>
                                                <p class="card-text">650.000<sup>đ</sup></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                    <a class="jss63"
                                       href="/san-pham/172">
                                        <div class="jss58 card">
                                            <div class="jss59 card-header">
                                                <div>
                                                    <div class="jss24 jss106">
                                                        <div class="jss23">
                                                            <img alt="Klenzit C"
                                                                 class="jss26 jss107"
                                                                 src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/Klenzit_C_50f4f86896.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="jss60 card-title h5">
                                                    Klenzit C<br><span class="jss61 badge badge-pill">CHẤM MỤN</span>
                                                </div>
                                                <p class="card-text">100.000<sup>đ</sup></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                    <a class="jss63"
                                       href="/san-pham/177">
                                        <div class="jss58 card">
                                            <div class="jss59 card-header">
                                                <div>
                                                    <div class="jss24 jss100">
                                                        <div class="jss23">
                                                            <img alt="Bakuchiol Moisturiser"
                                                                 class="jss26 jss101"
                                                                 src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/inkink023_theinkeylist_bakuchiol_2_1560x1960_fnnoqjpg_31a6f0e6bd.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="jss60 card-title h5">
                                                    Bakuchiol Moisturiser<br><span class="jss61 badge badge-pill">KEM DƯỠNG ẨM</span>
                                                </div>
                                                <p class="card-text">330.000<sup>đ</sup></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                    <a class="jss63"
                                       href="/san-pham/186">
                                        <div class="jss58 card">
                                            <div class="jss59 card-header">
                                                <div>
                                                    <div class="jss24 jss96">
                                                        <div class="jss23">
                                                            <img alt="DRMTLGY Broad Spectrum Spf 45"
                                                                 class="jss26 jss97"
                                                                 src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/DRMTLGY_Broad_Spectrum_Spf_45_Callmeduy_3b3695344f.jpeg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="jss60 card-title h5">
                                                    DRMTLGY Broad Spectrum Spf
                                                    45<br><span class="jss61 badge badge-pill">
                                                        KEM CHỐNG NẮNG
                                                    </span>
                                                </div>
                                                <p class="card-text">600.000<sup>đ</sup></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                    <a class="jss63"
                                       href="/san-pham/187">
                                        <div class="jss58 card">
                                            <div class="jss59 card-header">
                                                <div>
                                                    <div class="jss24 jss94">
                                                        <div class="jss23">
                                                            <img alt="Hydra B5 Source"
                                                                 class="jss26 jss95"
                                                                 src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/Ciracle_Hydra_B5_Source_Callmeduy_abbdccc458.png">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="jss60 card-title h5">
                                                    Hydra B5 Source<br><span class="jss61 badge badge-pill">SERUM PHỤC HỒI</span>
                                                </div>
                                                <p class="card-text">400.000<sup>đ</sup></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                    <a class="jss63"
                                       href="/san-pham/184">
                                        <div class="jss58 card">
                                            <div class="jss59 card-header">
                                                <div>
                                                    <div class="jss24 jss100">
                                                        <div class="jss23">
                                                            <img alt="Positively Mineral Sensitive Skin Sunscreen Broad Spectrum Spf 50"
                                                                 class="jss26 jss101"
                                                                 src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/aveeno_positively_mineral_sensitive_skin_sunscreen_broad_spectrum_spf_50_ingredients_CMD_a6fd545774.jpeg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="jss60 card-title h5">
                                                    Positively Mineral
                                                    Sensitiv...<br><span class="jss61 badge badge-pill">
                                                        KEM
                                                        CHỐNG NẮNG
                                                    </span>
                                                </div>
                                                <p class="card-text">300.000<sup>đ</sup></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                    <a class="jss63"
                                       href="/san-pham/184">
                                        <div class="jss58 card">
                                            <div class="jss59 card-header">
                                                <div>
                                                    <div class="jss24 jss100">
                                                        <div class="jss23">
                                                            <img alt="Positively Mineral Sensitive Skin Sunscreen Broad Spectrum Spf 50"
                                                                 class="jss26 jss101"
                                                                 src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/aveeno_positively_mineral_sensitive_skin_sunscreen_broad_spectrum_spf_50_ingredients_CMD_a6fd545774.jpeg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="jss60 card-title h5">
                                                    Positively Mineral
                                                    Sensitiv...<br><span class="jss61 badge badge-pill">
                                                        KEM
                                                        CHỐNG NẮNG
                                                    </span>
                                                </div>
                                                <p class="card-text">300.000<sup>đ</sup></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></div>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <hr>
                    <div class="jss37">
                        <div class="jss36" style="width:100%;">
                            <h3>SẢN PHẨM MỚI XEM</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <a class="jss63"
                               href="/san-pham/176">
                                <div class="jss58 card">
                                    <div class="jss59 card-header">
                                        <div>
                                            <div class="jss24 jss102">
                                                <div class="jss23">
                                                    <img alt="Hyaluronic Acid 2% + B5"
                                                         class="jss26 jss103"
                                                         src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/1_1_fc7ea536d62f4a068d63f6b377c78308_834cab7874.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="jss60 card-title h5">
                                            Hyaluronic Acid 2% + B5<br><span class="jss61 badge badge-pill">SERUM DƯỠNG ẨM</span>
                                        </div>
                                        <p class="card-text">250.000<sup>đ</sup></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <a class="jss63"
                               href="/san-pham/174">
                                <div class="jss58 card">
                                    <div class="jss59 card-header">
                                        <div>
                                            <div class="jss24 jss104">
                                                <div class="jss23">
                                                    <img alt="UV Elements Broad-Spectrum SPF 44"
                                                         class="jss26 jss105"
                                                         src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/61_MJT_Br_Sa_AL_SL_1296_00b847146e.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="jss60 card-title h5">
                                            UV Elements Broad-Spectrum
                                            ...<br><span class="jss61 badge badge-pill">
                                                KEM CHỐNG NẮNG
                                            </span>
                                        </div>
                                        <p class="card-text">650.000<sup>đ</sup></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <a class="jss63"
                               href="/san-pham/172">
                                <div class="jss58 card">
                                    <div class="jss59 card-header">
                                        <div>
                                            <div class="jss24 jss106">
                                                <div class="jss23">
                                                    <img alt="Klenzit C" class="jss26 jss107"
                                                         src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/Klenzit_C_50f4f86896.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="jss60 card-title h5">
                                            Klenzit C<br><span class="jss61 badge badge-pill">CHẤM MỤN</span>
                                        </div>
                                        <p class="card-text">100.000<sup>đ</sup></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <a class="jss63"
                               href="/san-pham/177">
                                <div class="jss58 card">
                                    <div class="jss59 card-header">
                                        <div>
                                            <div class="jss24 jss100">
                                                <div class="jss23">
                                                    <img alt="Bakuchiol Moisturiser"
                                                         class="jss26 jss101"
                                                         src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/inkink023_theinkeylist_bakuchiol_2_1560x1960_fnnoqjpg_31a6f0e6bd.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="jss60 card-title h5">
                                            Bakuchiol Moisturiser<br><span class="jss61 badge badge-pill">KEM DƯỠNG ẨM</span>
                                        </div>
                                        <p class="card-text">330.000<sup>đ</sup></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class="jss37">
                            <div class="jss36" style="width:100%;">
                                <h3>SẢN PHẨM GIẢM GIÁ</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <a class="jss63"
                                   href="/san-pham/176">
                                    <span class="percent deal">-23%</span>
                                    <div class="jss58 card">
                                        <div class="jss59 card-header">
                                            <div>
                                                <div class="jss24 jss102">
                                                    <div class="jss23">
                                                        <img alt="Hyaluronic Acid 2% + B5"
                                                             class="jss26 jss103"
                                                             src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/1_1_fc7ea536d62f4a068d63f6b377c78308_834cab7874.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="jss60 card-title h5">
                                                Hyaluronic Acid 2% + B5<br><span class="jss61 badge badge-pill">SERUM DƯỠNG ẨM</span>
                                            </div>
                                            <p class="card-text">250.000<sup>đ</sup></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <a class="jss63"
                                   href="/san-pham/174">
                                    <span class="percent deal">-50%</span>
                                    <div class="jss58 card">
                                        <div class="jss59 card-header">
                                            <div>
                                                <div class="jss24 jss104">
                                                    <div class="jss23">
                                                        <img alt="UV Elements Broad-Spectrum SPF 44"
                                                             class="jss26 jss105"
                                                             src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/61_MJT_Br_Sa_AL_SL_1296_00b847146e.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="jss60 card-title h5">
                                                UV Elements Broad-Spectrum
                                                ...<br><span class="jss61 badge badge-pill">
                                                    KEM CHỐNG NẮNG
                                                </span>
                                            </div>
                                            <p class="card-text">650.000<sup>đ</sup></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <a class="jss63"
                                   href="/san-pham/172">
                                    <span class="percent deal">-13%</span>
                                    <div class="jss58 card">
                                        <div class="jss59 card-header">
                                            <div>
                                                <div class="jss24 jss106">
                                                    <div class="jss23">
                                                        <img alt="Klenzit C" class="jss26 jss107"
                                                             src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/Klenzit_C_50f4f86896.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="jss60 card-title h5">
                                                Klenzit C<br><span class="jss61 badge badge-pill">CHẤM MỤN</span>
                                            </div>
                                            <p class="card-text">100.000<sup>đ</sup></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <a class="jss63"
                                   href="/san-pham/177">
                                    <span class="percent deal">-73%</span>
                                    <div class="jss58 card">
                                        <div class="jss59 card-header">
                                            <div>
                                                <div class="jss24 jss100">
                                                    <div class="jss23">
                                                        <img alt="Bakuchiol Moisturiser"
                                                             class="jss26 jss101"
                                                             src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/inkink023_theinkeylist_bakuchiol_2_1560x1960_fnnoqjpg_31a6f0e6bd.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="jss60 card-title h5">
                                                Bakuchiol Moisturiser<br><span class="jss61 badge badge-pill">KEM DƯỠNG ẨM</span>
                                            </div>
                                            <p class="card-text">330.000<sup>đ</sup></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <hr>
                </div>
                
                <div class="container">
                    <div>
                        <div class="jss44">
                            <h3>BÀI VIẾT MỚI NHẤT</h3>
                            <h6>Những bài viết mới nhất </h6>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="jss45">
                                        <div class="jss46">
                                            <div class="jss24 jss88">
                                                <div class="jss23">
                                                    <img alt="Sự thật về Hyaluronic acid cấu trúc siêu nhỏ trong skincare"
                                                         class="jss26 jss89"
                                                         src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/web11_9_390b763ca2.jpg">
                                                </div>
                                            </div>
                                        </div><span>September, 16 2020</span>
                                        <h4 class="jss47">
                                            Sự thật về Hyaluronic acid cấu trúc siêu nhỏ trong
                                            skincare
                                        </h4>
                                        <p class="jss49">
                                            Các nhãn hàng thường tự hào với công nghệ HA trọng
                                            lượng nhỏ
                                            giúp
                                            HA thấm sâu vào da và cấp nước tốt hơn. Tuy nhiên liệu đó có...<br>
                                        </p>
                                        <div class="jss50">
                                            <button type="button"
                                                    class="jss51 btn btn-primary">
                                                <a class="jss48"
                                                   href="/bai-viet/su-that-ve-hyaluronic-acid-cau-truc-sieu-nho-trong-skincare">
                                                    Xem
                                                    thêm
                                                </a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="jss45">
                                        <div class="jss46">
                                            <div class="jss24 jss90">
                                                <div class="jss23">
                                                    <img alt="Bakuchiol - thành phần thay thế cho Retinol?"
                                                         class="jss26 jss91"
                                                         src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/web3_9_897c458247.jpg">
                                                </div>
                                            </div>
                                        </div><span>September, 15 2020</span>
                                        <h4 class="jss47">Bakuchiol - thành phần thay thế cho Retinol?</h4>
                                        <p class="jss49">
                                            Bakuchiol được quan tâm gần đây trong lĩnh vực mỹ phẩm
                                            do được
                                            xem
                                            như chất thay thế retinol, có tác dụng như retinol nhưng lại không
                                            có
                                            quá...<br>
                                        </p>
                                        <div class="jss50">
                                            <button type="button"
                                                    class="jss51 btn btn-primary">
                                                <a class="jss48"
                                                   href="/bai-viet/bakuchiol-thanh-phan-thay-the-cho-retinol">
                                                    Xem
                                                    thêm
                                                </a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="jss45">
                                        <div class="jss46">
                                            <div class="jss24 jss92">
                                                <div class="jss23">
                                                    <img alt="Over exfoliate - làm gì khi bạn tẩy tế bào chết quá mức? "
                                                         class="jss26 jss93"
                                                         src="https://callmeduy-production-s3.s3.ap-southeast-1.amazonaws.com/web28_8_7620147af1.jpg">
                                                </div>
                                            </div>
                                        </div><span>August, 29 2020</span>
                                        <h4 class="jss47">
                                            Over exfoliate - làm gì khi bạn tẩy tế bào chết quá
                                            mức?
                                        </h4>
                                        <p class="jss49">
                                            Da bạn đang rất đẹp, bỗng một ngày bạn thêm một sản
                                            phẩm tẩy tế
                                            bào
                                            chết mới và đùng….. da bạn bỗng trở nên khô hơn, thoa sản...<br>
                                        </p>
                                        <div class="jss50">
                                            <button type="button"
                                                    class="jss51 btn btn-primary">
                                                <a class="jss48"
                                                   href="/bai-viet/over-exfoliate-lam-gi-khi-ban-tay-te-bao-chet-qua-muc">
                                                    Xem
                                                    thêm
                                                </a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="jss54">
                    <h3>CÁC ĐỐI TÁC</h3>
                    <div class="jss52">
                        <div class="jss53">
                            <div class="jss24 jss76">
                                <div class="jss23">
                                    <img alt="sponsor" class="jss26 jss77"
                                         src="https://d1obul4e19ua6k.cloudfront.net/eyJrZXkiOiIyNTZkODU4MTIzYWI0NmZiOThiNmNkMWVjYmMxNjIzNC5wbmciLCJidWNrZXQiOiJjYWxsbWVkdXktcHJvZHVjdGlvbi1zMyJ9">
                                </div>
                            </div>
                        </div>
                        <div class="jss53">
                            <div class="jss24 jss78">
                                <div class="jss23">
                                    <img alt="sponsor" class="jss26 jss79"
                                         src="https://d1obul4e19ua6k.cloudfront.net/eyJrZXkiOiIzZmZkNjVjMWNjOTM0Zjk5OWFiZTM3YjAzNGUxZmI4MC5wbmciLCJidWNrZXQiOiJjYWxsbWVkdXktcHJvZHVjdGlvbi1zMyJ9">
                                </div>
                            </div>
                        </div>
                        <div class="jss53">
                            <div class="jss24 jss80">
                                <div class="jss23">
                                    <img alt="sponsor" class="jss26 jss81"
                                         src="https://d1obul4e19ua6k.cloudfront.net/eyJrZXkiOiI1NGNkZWMzZWMwOGU0ZjBjYTU2M2ZjMmM5MjBjODJlNS5wbmciLCJidWNrZXQiOiJjYWxsbWVkdXktcHJvZHVjdGlvbi1zMyJ9">
                                </div>
                            </div>
                        </div>
                        <div class="jss53">
                            <div class="jss24 jss82">
                                <div class="jss23">
                                    <img alt="sponsor" class="jss26 jss83"
                                         src="https://d1obul4e19ua6k.cloudfront.net/eyJrZXkiOiJhMmQyMTQ2ZTVhZmI0YzM0OWE2MDg4ZTE3ZjVhM2UyYi5wbmciLCJidWNrZXQiOiJjYWxsbWVkdXktcHJvZHVjdGlvbi1zMyJ9">
                                </div>
                            </div>
                        </div>
                        <div class="jss53">
                            <div class="jss24 jss84">
                                <div class="jss23">
                                    <img alt="sponsor" class="jss26 jss85"
                                         src="https://d1obul4e19ua6k.cloudfront.net/eyJrZXkiOiI4NzI3MmZiZjJkYzg0OGMzOTZhMWQxNmY1ZWQwOWEyYS5wbmciLCJidWNrZXQiOiJjYWxsbWVkdXktcHJvZHVjdGlvbi1zMyJ9">
                                </div>
                            </div>
                        </div>
                        <div class="jss53">
                            <div class="jss24 jss86">
                                <div class="jss23">
                                    <img alt="sponsor" class="jss26 jss87"
                                         src="https://d1obul4e19ua6k.cloudfront.net/eyJrZXkiOiIzZThlOWUwOTdiNmM0NDY3YjkxMGQ1MDBiMjJlOTkwMC5wbmciLCJidWNrZXQiOiJjYWxsbWVkdXktcHJvZHVjdGlvbi1zMyJ9">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>